<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon application</title>
</head>
<body>
    <h1>{{ title }}</h1>
    {% if age >= 18 %}
        <p>Vous êtes majeur</p>
    {% elseif age > 12 %}
        <p>Vous êtes un ado ! </p>
    {% else %}
        <p>Vous êtes un enfant<p>
    {% endif %}
</body>
</html>