<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon application</title>
</head>
<body>
    <h1>Bonjour, comment tu va ? </h1>
    <p>Personnellement moi ça va  ! </p>
</body>
</html>